:root {
  --clr: #fff;
  --main: #ff766b;
}

@keyframes settingSlideIn {
  from {
    right: -4rem;
    /* opacity: 0; */
  }
  to {
    right: 0.5rem;
    /* opacity: 0.8; */
  }
}

@keyframes settingSlideOut {
  from {
    right: 0.5rem;
    /* opacity: 0.8; */
  }
  to {
    right: -4rem;
    /* opacity: 0; */
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 0;
  }
}

@keyframes addPostSlideIn {
  from {
    top: 100%;
    opacity: 0;
  }
  to {
    top: 0%;
    opacity: 1;
  }
}

@keyframes addPostSlideOut {
  from {
    top: 0%;
  }
  to {
    bottom: 0%;
  }
}
@keyframes showPostDetail {
  from {
    top: calc(100% - 6rem);
  }
  to {
    top: 0%;
  }
}
@keyframes hidePostDetail {
  from {
    top: 0%;
  }
  to {
    top: calc(100% - 6rem);
  }
}
#defaultPostDetail {
  top: calc(100% - 6rem);
}
#showPostDetail {
  animation: showPostDetail 0.5s;
  animation-fill-mode: forwards;
}

#hidePostDetail {
  animation: hidePostDetail 0.5s;
  animation-fill-mode: forwards;
}

#fadeIn {
  background-color: black;
  opacity: 0.2;
  animation: fadeIn 0.5s;
}
#fadeOut {
  background-color: black;
  opacity: 0;
  animation: fadeOut 0.5s;
}

#settingSlideIn {
  /* top: 3.5rem;
  width: 4rem; */
  height: calc(100vh - 10rem);
  animation: settingSlideIn 0.5s;
  animation-fill-mode: forwards;
}

#settingSlideOut {
  /* top: 3.5rem;
  width: 4rem; */
  height: calc(100vh - 10rem);
  animation: settingSlideOut 0.5s;
  animation-fill-mode: forwards;
  /* display: none; */
}

#outside {
  top: 3.5rem;
  left: 0px;
  background-color: white;
  width: 50%;
  animation: fadeIn 1s;
  animation-fill-mode: forwards;
  height: calc(100vh - 7.5rem);
  position: absolute;
}

#addPostSlideIn {
  animation: addPostSlideIn 0.5s;
  animation-fill-mode: forwards;
}

#addPostSlideOut {
  display: none;
}

.googleMapTest {
  width: 100vw;
  height: 100vh;
  background-color: aliceblue;
}

.hashTag {
  background-image: radial-gradient(
    circle 981px at 14.6% 17.7%,
    rgba(255, 101, 91, 0.85) 2.7%,
    rgba(121, 32, 82, 0.78) 97.2%
  );
}

/* React Datepicker 부분 */
.react-datepicker__month-container {
  width: 100%;
}

.react-datepicker__day--selected {
  background-color: var(--main) !important;
  border-radius: 50% !important;
}

.react-datepicker__day--weekend {
  color: red !important;
}

.react-datepicker__day--weekend.react-datepicker__day--selected {
  color: white !important;
}

.react-datepicker__input-container > input {
  width: 100%;
  height: 2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.125rem;
  outline-color: var(--main);
  border-width: 2px;
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}
